<%= form_with(model: @competition, local: true) do |f| %>
  <div class="container">
    <div class="title">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter the Competition Title", autofocus: true %>
    </div>

    <div class="start-date">
      <%= f.label :start_date, class: "form-label" %>
      <%= f.date_field :start_date, type: "date", class: "form-control" %>
    </div>

    <div class="finish-date">
      <%= f.label :finish_date, class: "form-label" %>
      <%= f.date_field :finish_date, type: "date", class: "form-control" %>
    </div>

    <div class="submit-cancel">
      <%= f.submit ( f.object.new_record? ? "Create Competition" : "Update Competition" ), class:"btn btn-success" %>
      <%= link_to 'Cancel', ( f.object.new_record? ? root_path : @competition ), class:"btn btn-danger" %>
    </div>
  </div>
<% end %>
