<h2><%= @competition.title %></h2>

<div>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">start date: <%= @competition.start_date %></p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-centered">finish date: <%= @competition.finish_date %></p>
      </div>
    </div>
  </div>
</div>

<br/>

<%= link_to 'Home', root_path, class: "button" %>
<%= link_to 'New Weight Record', new_competition_weight_record_path(@competition), class: "button" %>

<!--TODO: Add invitees and attendees list-->

<!--TODO: Add ability to invite and uninvite people-->
