<h2><%= @competition.title %></h2>

<div>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title">start date: <%= @competition.start_date %></p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-header">
        <p class="card-header-title is-centered">finish date: <%= @competition.finish_date %></p>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="container">
  <h2>Weigh Ins</h2>
  <div class="table-responsive">
    <table class="table" id="sortTable">
      <thead>
        <tr>
          <th data-field="date" data-sortable="true" >Date</th>
          <th data-field="name">Competitor</th>
          <th data-field="weight">Weight</th>
        </tr>
      </thead>
      <tbody>
        <% @competition.weight_records.preload(:user).default_order.each do |record| %>
          <tr>
            <td><%= record.effective_date %></td>
            <td><%= record.user.name %></td>
            <td><%= record.weight %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Home', root_path, class: "button" %>
<%= link_to 'New Weight Record', new_competition_weight_record_path(@competition), class: "button" %>

<!--TODO: Add invitees and attendees list-->

<!--TODO: Add ability to invite and uninvite people-->
