.container
  %h2.title Edit Weight Record for #{@competition.title}

  = form_with model: [:competition, @weight_record], url: competition_weight_record_path(@competition.id, @weight_record.id) do |f|
    = f.label :weight, class: "form-label"
    = f.number_field :weight, class: "form-control", step: 0.1
    = f.label :effective_date, class: "form-label"
    = f.date_field :effective_date, class: "form-control"

    = f.submit 'Edit Weight Record', class: "btn btn-success"
    = link_to 'Cancel', @competition, class: "btn btn-danger"
